.front-container {
  height: 80vh;
  width: 100vw;
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.front-container h1 {
  padding: 20px;
}

.home-container {
  overflow: hidden;
  width: 100%;
}

.work-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0 auto;
  width: 85vw;
  height: auto;
  margin-bottom: 10px;
  padding-top: 40px;
  /* -webkit-box-shadow: 0px 0px 22px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 0px 22px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 0px 22px 0px rgba(50, 50, 50, 0.75); */
}

.project-box {
  display: inline-block;
  margin: 30px auto;
  width: 40vw;
  height: 50vh;

  -webkit-box-shadow: 7px 7px 21px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 7px 7px 21px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 7px 7px 21px 0px rgba(50, 50, 50, 0.75);
}

.down-arrow {
  margin-bottom: 20px;
  padding-bottom: 60px;
}

.title-text {
  font-size: 50px;
}

hr {
  margin: 5px;
}

.projects-box-title {
  font-size: 40px;
}

.socials-box {
  display: block;
  position: fixed;
  right: 20px;
  top: 40vh;
}

.social-icon {
  display: block;
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .project-box {
    display: inline-block;
    margin: 30px auto;
    margin-bottom: 10px;
    height: 40vh;
  }

  .work-container {
    margin-bottom: 10vh;
  }
}

@media only screen and (max-width: 600px) {
  .title-text {
    font-size: 30px;
  }

  .work-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 0 auto;
    width: 100vw;
    height: auto;
    margin-bottom: 10px;
    /* -webkit-box-shadow: 0px 0px 22px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 0px 22px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 0px 22px 0px rgba(50, 50, 50, 0.75); */
  }

  .project-box {
    display: inline-block;
    margin: 30px auto;
    width: 80vw;
    height: 40vh;

    -webkit-box-shadow: 7px 7px 21px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 7px 7px 21px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 7px 7px 21px 0px rgba(50, 50, 50, 0.75);
  }

  .down-arrow {
    margin-top: -40px;
  }

  .front-container {
    height: 80vh;

    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title-text {
    padding-bottom: 20px;
  }

  .socials-box {
    display: block;
    position: absolute;
    right: 20px;
    top: 5vh;
  }

  .social-icon {
    display: inline-block;
  }
}
